
# Create a new project in the Google Developer Console:
# 
# - Go to https://console.developers.google.com/
#       - Click on "Create Project" and follow the instructions.
#       - Set up OAuth2 credentials for your project:
# 
# - In the Google Developer Console, go to the "Credentials" section.
#       - Click on "Create credentials" and select "OAuth client ID".
#       - Choose "Web application" as the application type.
#       - Set the "Authorized redirect URIs" to the URL where you want users to be redirected after authentication. This will typically be a URL on your Node.js server that will handle the authentication response.
#       - Click "Create" and copy the client ID and client secret that are generated.

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=


APP_URL=http://localhost:5000
APP_FRONT_URL=http://localhost:3000

APP_SECRET=app_secret_passphrase
PORT=5000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Example
# DATABASE_URL="postgres://postgres:[PASSWORD]@[HOST]:5432/postgres"

# Puedes usar esta DB de prueba
DATABASE_URL="postgres://postgres:GOPgYB0nOXKQ26b2@db.xtvbpmtlokwdlcgdtdnb.supabase.co:5432/postgres"